aws_region                = "eu-central-1"
project_name              = "conference-app"
db_instance_class         = "db.t3.micro"
db_name                   = "conference"
db_username               = "conference_admin"
db_password               = "ChangeThisStrongPassword123!"
media_bucket_name         = "conference-app-media-unique-name"
backend_version_label     = "v1"
frontend_version_label    = "v1"
backend_source_bundle_key = "backend/backend-v1.zip"
frontend_source_bundle_key = "frontend/frontend-v1.zip"
